<div class="container">
    <div class="row">
        <div class="p-3 bg-light text-dark w-100">
            <h1 class="text-center">FAQ</h1>
            <h1 class="text-center">Perguntas Frequentes</h1>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="accordion">
            <div class="card">
                <div class="card-cor">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Como entro em contato com o atendimento ao cliente?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        Nosso horário de atendimento telefônico e chat é de segunda a sexta, das 09h às 18h, exceto
                        feriados. Você também pode registrar a sua solicitação.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-cor" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Quais são as formas de pagamento que a Exomaker oferece?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        As compras poderão ser pagas com cartão de crédito das seguintes bandeiras: Visa, Mastercard,
                        American Express, Elo, Diners Club, Hipercard e Hiper; parceladas em até 10x sem juros,
                        respeitando o valor mínimo.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-cor" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Como realizo meu cadastro?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Para realizar o seu cadastro clique no ícone de usuário. Você será direcionado para tela de
                        cadastro e poderá preencher o formulário com seus dados.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-cor" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Não recordo do e-mail utilizado em meu cadastro. O que devo fazer?
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body" id="headingFour">
                        Por favor, entre em contato com nossa equipe e informe seu nome completo, CPF cadastrado e data
                        de nascimento, para que possamos enviar a informação desejada.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-cor" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            É possível realizar a reserva de algum produto?
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Não é possível fazer reserva de produto. Todos os produtos disponíveis na Exomaker estão
                        integrados automaticamente com o estoque da loja. Sendo assim, não é possível reservar.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-cor" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            É possível cancelar o meu pedido?
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        Em caso de cancelamento, por favor, entre em contato com a nossa central de atendimento.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>